:root {
  --base: #99fff2;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align:center;
}
body {
  background: rgb(69, 54, 19);
  color: white;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

a {
  color: var(--base);
  text-decoration: none;
}

input {
  width:100px;
}

.hl {
  color: var(--base);
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

h1 {
  color: var(--base);
}
